body {
  background-color:rgb(204, 201, 9)
}

h1 {
  background-color: 
  rgb(228, 17, 17);
}

h1{
  color: rgb(204, 201, 9);
}

section div {
  font-family: 'Times New Roman';
}
/*
div > h1:first-child {
  background-color: rgb(75, 19, 226);
} 

mark + h1 {
  font-weight: bold;
}Isn't changing anything, I tried #title i front of mark (to the left) as well as ~ instead of + but it wouldn't do anything*/

a:link {
  color: rgb(204, 201, 9);
}

a:visited {
  color: rgb(128, 0, 0);
  font-weight: bold;
}

a:hover {
  background-color: rgb(75, 19, 226);
  font-size: 1.5em;
} /*this section changes the color of the nav hyperlinks, but it only works on the homepage. I NEED TO FIX THIS
*/

a:active {
  color: hotpink
}



.menuItems {
  height: 45vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.menuItems {
  color: rgb(204, 201, 9);
  font-size: 5rem;
  text-align: center;
  padding: 4rem;
  grid-gap: 1vw;
}
.cell1 {
  background: rgb(75, 19, 226);
}
.cell2 {
  background: rgb(228, 17, 17);
}
.cell3 {
  background: rgb(75, 19, 226);
}
.cell4 {
   background: rgb(228, 17, 17);
}
.cell5 {
  background: rgb(75, 19, 226);
}
.cell6 {
   background: rgb(228, 17, 17);
}
.cell7 {
  background: rgb(75, 19, 226);
}
.cell8 {
  background: rgb(228, 17, 17);
}
.cell9 {
  background: rgb(75, 19, 226);
}



